page-home {
  #texto{
    background-color: rgba(255, 255, 255, 0.75);
    color: #291F70;
    font-size:18px;
    text-align: center;
  }

  #titulo{
    background-color: rgba(255, 255, 255, 0.75);
  }

}
