page-criterios-busqueda {
  p {
    font-size: 16px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }

  h1 {
    font-size: 16px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }
}
