page-comprar-entradas {

  h4 {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 20px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    font-style: italic;
  }

  p {
    font-size: 18px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }

}
