page-detalle {

  p {
    font-size: 18px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }

  #sinopsis{
    font-size: 16px;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    text-align: left;
  }

}
